<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Dynamic Title -->
    <title>
        <%= title %>
    </title>

    <meta name="description" content="Home Page is where you find links to other pages">
    <meta name="author" content="https://github.com/randomoi" />

    <!-- CSS sheet -->
    <link rel="stylesheet" href="/css/main.css">



</head>