<!DOCTYPE html>
<html lang="en">
<%# Insert the head section code, which is repeated on all pages %>
    <%- include('../inc/head') %>

        <body class="about_page">
            <%# Insert the header section code, which is repeated on all pages %>
                <%- include('../inc/header') -%>
                    <main>
                        <div class="container">
                            <h1>About page</h1>
                            <div class="content_wrap">
                                <div class="border_box border_box_1">
                                    <h4>MySmartHome web application was developed by:</h4>
                                    <p>
                                        <ion-icon name="person-outline"></ion-icon> Student Name: github.com/randomoi
                                    </p>
                                    <p>
                                        <ion-icon name="id-card-outline"></ion-icon> Student ID: XXXXXXXX
                                    </p>
                                    <p>
                                        <ion-icon name="mail-outline"></ion-icon> Contact Email: XXXXXXXX@gmail.com
                                    </p>
                                </div>
                                <div class="border_box border_box_2">
                                    <p>The MySmartHome web application functions as a dashboard to help you control devices in your smart home.</p>
                                    <p>The MySmartHome web application lets you control your devices by allowing you to turn on/off lights, open/close doors, increase/decrease volume, regulate temperature, and so on, all in one place. You can also add and
                                        delete devices, set device preferences or view current status of each device.</p>
                                    <h4>Available Devices:</h4>
                                    <ol class="list">
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> cooling
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> heating
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> curtains
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> blinds
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> security
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> TV
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> radio
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> music
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> fridge
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> door lock
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> oven
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> microwave
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> coffee maker
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> tea maker
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> bedroom lighting
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> living room lighting
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> bathroom lighting
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> yard lighting
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> baby room lighting
                                        </li>
                                        <li>
                                            <ion-icon name="checkmark-outline"></ion-icon> office lighting
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </main>
                    <%# Insert footer section code that repeats on all pages %>
                        <%- include('../inc/footer') -%>
        </body>

</html>